@{
    ViewBag.Title = "Index";
    Layout = "";
}


<!doctype html>
<!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Parking-Matic</title>
    <!-- Bootstrap core CSS -->
    <link href=@Url.Content("~/Content/publicHome/css/bootstrap.min.css")  rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yellowtail%7COpen%20Sans%3A400%2C300%2C600%2C700%2C800" media="screen" />
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href=@Url.Content("~/Content/publicHome/css/font-awesome.min.css") type="text/css" media="all" />     
    <link rel="stylesheet" href=@Url.Content("~/Content/publicHome/css/flexslider.css")  type="text/css" media="screen" />       
    <link rel="stylesheet" href=@Url.Content("~/Content/publicHome/css/jquery.bxslider.css")  type="text/css" media="screen" />        
    <link rel="stylesheet" href=@Url.Content("~/Content/publicHome/css/jquery.fancybox.css") >        
    <link rel="stylesheet" href=@Url.Content("~/Content/publicHome/css/jquery.selectbox.css")>        
    <link rel="stylesheet" href=@Url.Content("~/Content/publicHome/css/style.css") >        
    <link rel="stylesheet" href=@Url.Content("~/Content/publicHome/css/mobile.css") >        
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/publicHome/css/settings.css")  media="screen" />        
    <link rel="stylesheet" href=@Url.Content("~/Content/publicHome/css/animate.min.css")>        
    <link rel="stylesheet" href=@Url.Content("~/Content/publicHome/css/ts.css") type="text/css">
    
        
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.min.js")"></script>        
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/bootstrap.min.js")"></script>    
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.themepunch.tools.min.js")"></script>    
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.themepunch.revolution.min.js")"></script>           
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/wow.min.js")"></script>           
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key&amp;sensor=false"></script>
    <!-- Twitter Feed Scripts
         Uncomment to activate

    <script type="text/javascript" src="js/twitter/jquery.tweet.js"></script>
    <script type="text/javascript" src="js/twitter/twitter_feed.js"></script> -->

</head>



<body>
    <!--Header Start-->
    <header data-spy="affix" data-offset-top="1" class="clearfix">
        <section class="toolbar">
            <div class="container">
                <div class="row">
                </div>
            </div>
            <div class="toolbar_shadow"></div>
        </section>

        <div class="bottom-header">
            <div class="container">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">                                
                            <a class="navbar-brand" href="index-2.html"><span class="logo"><span class="primary_text">Parking-Matic</span> <span class="secondary_text">Estacionamientos</span></span></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav pull-right">
                                <li class="active"><a href="@Url.Action("Index","PublicHome")">Inicio</a></li>
                                <li><a href="@Url.Action("Servicios","PublicHome")">Servicios</a></li>
                                <li><a href="@Url.Action("Empresa", "PublicHome")">Nuestra Empresa</a></li>
                                <li><a href="@Url.Action("Contacto", "PublicHome")" >Contacto</a></li>
                                <li><a href="@Url.Action("Login", "PublicHome")">Login</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
            <div class="header_shadow"></div>
        </div>
    </header>
    <!--Header End-->

    <div class="clearfix"></div>
    <section class="banner-wrap">
        <div class="banner">
            <div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                            <!-- MAIN IMAGE -->
                            <img src="@Url.Content("~/Content/publicHome/images/estacionamiento.jpg")"  alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption big_white fade"
                                 data-x="40"
                                 data-y="560"
                                 data-speed="500"
                                 data-start="800"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off"
                                 style="z-index: 6;">Administra tu estacionamiento</div>
                            
                        </li>

                        <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                            <!-- MAIN IMAGE -->
                            <img src="@Url.Content("~/Content/publicHome/images/estacionamiento2.jpg")"  alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption big_white fade"
                                 data-x="40"
                                 data-y="560"
                                 data-speed="500"
                                 data-start="800"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off"
                                 style="z-index: 6;">Aumenta tus clientes</div>
                        </li>

                        <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                            <!-- MAIN IMAGE -->
                            <img src="@Url.Content("~/Content/publicHome/images/estacionamiento3.jpg")"  alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                            <!-- LAYERS -->
                            <div class="tp-caption customin customout start green"
                                 data-x="40"
                                 data-hoffset="0"
                                 data-y="510"
                                 data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                 data-speed="1000"
                                 data-start="500"
                                 data-easing="Back.easeInOut"
                                 data-endspeed="300">Clientes reservan espacios de forma rapida</div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption big_white fade"
                                 data-x="40"
                                 data-y="560"
                                 data-speed="500"
                                 data-start="800"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off"
                                 style="z-index: 6;">desde sus Smatphone</div>
                        </li>
                    </ul>
                </div>
            </div>
            <script type="text/javascript">

				var revapi;

				jQuery(document).ready(function() {

					   revapi = jQuery('.tp-banner').revolution(
						{
							delay:8000,
							startwidth:1170,
							startheight:645,
							hideThumbs:10,
							fullWidth:"off",
							fullScreen:"off",
							fullScreenOffsetContainer: "",
							hideTimerBar: "on",
							navigationType:"none",
							stopAtSlide: 1

						});

				});	//ready

            </script>

            <!-- END REVOLUTION SLIDER -->
            <!-- Content End -->

        </div>
    </section>




    <section class="message-wrap">
        <div class="container">
            <div class="row">
                <h2 class="col-lg-9 col-md-8 col-sm-12 col-xs-12 xs-padding-left-15">Conoce nuestro sitema para administrar <span class="alternate-font">estacionamientos</span></h2>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 xs-padding-right-15"> <a href="@Url.Action("Contacto","PublicHome")" class="default-btn pull-right action_button lg-button">Contáctanos</a> </div>
            </div>
        </div>
        <div class="message-shadow"></div>
    </section>
    <!--message-wrap ends-->

    <section class="content">
        <div class="container">
            <div class="inner-page homepage margin-bottom-none">

                <section class="welcome-wrap padding-top-30 sm-horizontal-15">

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 welcome padding-left-none padding-bottom-40 scroll_effect fadeInUp">
                            <h4 class="margin-bottom-25 margin-top-none"><strong>Bienvenido</strong> a Parking-Matic</h4>
                            <img src="@Url.Content("~/Content/publicHome/images/parking-matic.png")" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" />
                            <p>
                                Parking-Matic es un servicio destinado a las empresas dueñas de <span class="alternate-font">estacionamientos</span>. El servicio provee un sistema administracion de estacionamientos, control del flujo de vehiculos en tiempo real, administracion del personal, y estadisticas del funcionamiento del estacionamiento.
                            </p>
                            <p>
                                Nuestra servicio cuenta con gran cantidad de usuarios, quienes a traves de sus Smartphone localizan geograficamente los estacionamientos cercanos, para finalmente ir a uno.
                                Por ello, facilitamos el aumento de clientes de una manera<span class="alternate-font"> rápida, eficiente, y sin perdidas de tiempo.</span>. 
                            </p>
                             <p>
                                Revisa nuestros servicios detalladamente.Ver servicios <span class="alternate-font"> <a href="@Url.Action("Servicios","PublicHome")">aqui.</a></span>. 
                            </p>
                        </div>
                        <!--welcome ends-->

                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 welcome padding-left-none padding-bottom-40 scroll_effect fadeInUp">
                            <h4 class="margin-bottom-25 margin-top-none"><strong>Video de </strong>  Parking-Matic</h4>
                            <!--<img src="@Url.Content("~/Content/publicHome/images/mapa.jpg")" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" />-->
                            <!--show video of parking.matic-->
                            <!--show video of parking.matic-->
                            <iframe width="853px" height="480px" src="https://www.youtube.com/embed/LFqGjLOTb3s" frameborder="0" allowfullscreen></iframe>
                              
                        </div>
                        <!--invetory ends-->
                    </div>

                </section>
                <!--welcome-wrap ends-->



                <section class="car-block-wrap padding-bottom-40">
                    <div class="container">
                        
                        <div class="row">                             
                             <h4><a href="#"><strong>¿Quieres tener tu estacionamiento con muchos vehiculos? Unete a nosotros!</strong> </a></h4>
                             </strong>  </h4>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 margin-bottom-none">
                                <div class="flip margin-bottom-30">
                                    <div class="card">
                                        <div ><img class="img-responsive" src="@Url.Content("~/Content/publicHome/images/time.png")" alt=""></div>
                                    </div>
                                </div>
                                <h4><a href="#">¿Porque contratar el sistema?</a></h4>
                                <p class="margin-bottom-none">
                                    - Solucionamos la Gestión y Organización de tu estacionamiento.<br/>
                                    - Aumentamos tus posibilidades de tener mas clientes.<br/>
                                    - Te damos las herramientas necesarias para hacer crecer tu negocio en el tiempo.<br/>
                                    - Contamos con servicio al cliente, para orientarte en tus objetivos.<br/>                        
                                </p>
                                
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 margin-bottom-none">
                                <div class="flip horizontal margin-bottom-30">
                                    <div class="card">
                                        <div ><img class="img-responsive" src="@Url.Content("~/Content/publicHome/images/estacionar.png")" alt=""></div>
                                    </div>
                                </div>
                                <h4><a href="#">¿Como aumentaran tus clientes?</a></h4>
                                <p class="margin-bottom-none">
                                    - Los conductores buscarán en sus Smartphone los estacionamientos mas cercanos.<br/>
                                    - Si tu estacionamiento usa nuestro sistema, los conductores podran ver tu estacionamiento.<br/>
                                    - Podras realizar promociones y tarifas especiales para los conductores.<br/>
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 margin-bottom-none">
                                <div class="flip margin-bottom-30">
                                    <div class="card">
                                        <div ><img class="img-responsive" src="@Url.Content("~/Content/publicHome/images/contacto.png")" alt=""></div>
                                    </div>
                                </div>
                                <h4><a href="#">¿Como puedo contratarlo?</a></h4>
                                <p class="margin-bottom-none">
                                    - Si te interesa nuestro servicio, contactanos a traves del siguiente link. <a href="@Url.Action("Index","PublicHomeContacto")" >Contáctanos</a><br/>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>



                <div class="row">
                    <div class="detail-service clearfix margin-top-30 padding-bottom-40">
                        <h2 class="margin-top-none">Sistema <strong>fácil de usar</strong></h2>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 scroll_effect fadeInLeft">
                            <div class="details margin-top-25">
                                <h5 class="customize">Sistema completo para administrar estacionamientos</h5>
                                <p class="padding-top-10">
                                    - El sistema para administrar el estacionamiento posee modulos para facilitar la organización de la información.<br/>
                                    - La personalización de los modulos del estacionamiento están orientados a facilitar la administración y organización de los estacionamientos.<br/>                                    
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 scroll_effect fadeInLeft" data-wow-delay=".2s">
                            <div class="details margin-top-25">
                                <h5 class="work">Sistema de fácil uso</h5>
                                <p class="padding-top-10 margin-bottom-none">
                                    - El sistema para administrar el estacionamiento es de diseño amigable, fácil de entender y el sistema de modulos facilita la administración.<br/>
                                    - Para obtener más informacion contáctenos.<br/>                                    
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 scroll_effect fadeInRight" data-wow-delay=".2s">
                            <div class="details margin-top-25">
                                <h5 class="flexible">Sistema flexible a cambios</h5>
                                <p class="padding-top-10 margin-bottom-none">
                                    - En el sistema para administrar el estacionamiento, se pueden realizar cambios en tiempo real del estacionamiento. Cuyo objetivo es proporcionar la información actual a los conductores, cuando estos busquen estacionamientos disponibles, buscando buenas tarifas y promociones.<br/>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>


    <!--Footer Start-->
    <footer class="design_2">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-right-none md-padding-right-none sm-padding-right-15 xs-padding-right-15">
                    <h4>Contáctanos</h4>
                    <div class="footer-contact">
                        <ul>
                            <li><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1234 Street Name, Curico, AB 12345</li>
                            <li><i class="fa fa-phone"></i> <strong>Phone:</strong>85874865</li>
                            <li><i class="fa fa-envelope-o"></i> <strong>Email:</strong><a href="#">parking@gmail.com</a></li>
                        </ul>

                        <i class="fa fa-location-arrow back_icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="clearfix"></div>
    <section class="copyright-wrap padding-bottom-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="logo-footer margin-bottom-20 md-margin-bottom-20 sm-margin-bottom-10 xs-margin-bottom-20">
                        <a href="#">
                            <h1>Parking-Matic</h1>
                            <span>Estacionamientos</span>
                        </a>
                    </div>
                    <p>Copyright &copy; 2015</p>
                </div>
            </div>
        </div>
    </section>
    <div class="back_to_top"> <img src="@Url.Content("~/Content/publicHome/images/arrow-up.png")"  alt="scroll up" /> </div>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/retina.js")"></script>       
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.parallax.js")"></script>          
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.inview.min.js")"></script>           
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/main.js")"></script>           
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.fancybox.js")"></script>           
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/modernizr.custom.js")"></script>         
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.flexslider.js")"></script>           
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.bxslider.js")"></script>          
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.selectbox-0.2.js")"></script>       
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.mousewheel.js")"></script>       
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.easing.js")"></script>   

    
</body>
</html>
