@{
    ViewBag.Title = "Servicios";
    Layout = "";
}

<!doctype html>
<!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Parking-Matic</title>
    <!-- Bootstrap core CSS -->
    <link href=@Url.Content("~/Content/publicHome/css/bootstrap.min.css") rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yellowtail%7COpen%20Sans%3A400%2C300%2C600%2C700%2C800" media="screen" />
    <!-- Custom styles for this template -->
    <link href=@Url.Content("~/Content/publicHome/css/font-awesome.min.css")  rel="stylesheet" type="text/css" media="all">
    <link href=@Url.Content("~/Content/publicHome/css/jquery.isotope.css")  rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href=@Url.Content("~/Content/publicHome/css/flexslider.css") type="text/css" media="screen" />
    <link rel="stylesheet" href=@Url.Content("~/Content/publicHome/css/jquery.bxslider.css")  type="text/css" media="screen" />
    <link href=@Url.Content("~/Content/publicHome/css/jquery.fancybox.css")  rel="stylesheet">
    <link href=@Url.Content("~/Content/publicHome/css/jquery.selectbox.css")  rel="stylesheet">
    <link href=@Url.Content("~/Content/publicHome/css/style.css")  rel="stylesheet">
    <link href=@Url.Content("~/Content/publicHome/css/mobile.css")  rel="stylesheet">
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/publicHome/css/settings.css")  media="screen" />
    <link href=@Url.Content("~/Content/publicHome/css/animate.min.css") rel="stylesheet">
    <link href=@Url.Content("~/Content/publicHome/css/ts.css")  type="text/css" rel="stylesheet">


    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.themepunch.tools.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.themepunch.revolution.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/wow.min.js")"></script>   

    <!-- Twitter Feed Scripts
         Uncomment to activate

    <script type="text/javascript" src="js/twitter/jquery.tweet.js"></script>
    <script type="text/javascript" src="js/twitter/twitter_feed.js"></script> -->

</head>

<body>
    <!--Header Start-->
    <header data-spy="affix" data-offset-top="1" class="clearfix">
        <section class="toolbar">
            <div class="container">
                <div class="row">
                </div>
            </div>
            <div class="toolbar_shadow"></div>
        </section>

        <div class="bottom-header">
            <div class="container">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                            <a class="navbar-brand" href="index-2.html"><span class="logo"><span class="primary_text">Parking-Matic</span> <span class="secondary_text">ESTACIONAMIENTOS</span></span></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav pull-right">
                                <li class="active"><a href="@Url.Action("Index","PublicHome")">Inicio</a></li>
                                <li><a href="@Url.Action("Servicios","PublicHome")">Servicios</a></li>
                                <li><a href="@Url.Action("Empresa", "PublicHome")">Nuestra Empresa</a></li>
                                <li><a href="@Url.Action("Contacto", "PublicHome")" >Contacto</a></li>
                                <li><a href="@Url.Action("Login", "PublicHome")">Login</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
            <div class="header_shadow"></div>
        </div>
    </header>
    <!--Header End-->

    <section id="secondary-banner" class="dynamic-image-12">
        <!--for other images just change the class name of this section block like, class="dynamic-image-2" and add css for the changed class-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <h2>Servicios</h2>
                    <h4>para administrar tu estacionamiento</h4>
                </div> 
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    
                </div>           
            </div>
        </div>
    </section>
    <!--#secondary-banner ends-->
    <div class="message-shadow"></div>
    <div class="clearfix"></div>
    <section class="content">
        <div class="container">


            <div class="inner-page services">
                <div class="row">
                    <div class="consider padding-bottom-40 clearfix">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padding-left-none xs-padding-bottom-40">
                            <h3>Descripción genereral de nuestros servicios</h3>
                            <div class="left-content padding-top-20">
                                <p>
                                    <span class="firstcharacter">P</span>
                                    arking-Matic es un servicio destinado a las empresas dueñas de <span class="alternate-font">estacionamientos</span>. El servicio provee un sistema administracion de estacionamientos, control del flujo de vehiculos en tiempo real, administracion del personal, y estadisticas del funcionamiento del estacionamiento.
                                </p>
                                <p>
                                    Nuestra servicio cuenta con gran cantidad de usuarios, quienes a traves de sus Smartphone localizan geograficamente los estacionamientos cercanos, para finalmente ir a uno.
                                    Por ello, facilitamos el aumento de clientes de una manera<span class="alternate-font"> rápida, eficiente, y sin perdidas de tiempo.</span>. 
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 things_to_consider padding-right-none xs-padding-left-none">
                            <h3>Puntos destacados</h3>
                            <div class="right-content">
                                <ul>
                                    <li>Sistema altamente testeado en smartphones</li>
                                    <li>Sistema con una alta disponibilidad en todo momento</li>
                                    <li>Los datos de nuestros clientes son confidenciales</li>
                                    <li>Contamos con un servicio al cliente</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="featured-service clearfix padding-bottom-40 margin-top-30">
                        <h2 class="margin-top-none"> <strong>Nuestros Servicios a los Estacionamientos</strong></h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-bottom-none scroll_effect fadeInUp">
                                <div class="featured">
                                    <h5>Control del estacionamiento</h5>
                                    <img src="@Url.Content("~/Content/publicHome/images/estacionamiento.jpg")"  alt="" data-hoverimg="@Url.Content("~/Content/publicHome/images/estacionamiento.jpg")" >
                                    <p>
                                        Solucionamos la Gestión y Organización de tu estacionamiento, a traves de la organización de la información en distintos modulos.
                                    </p>
                                    <p>
                                        Los dueños o administradores de los estacionamientos son los encargados de mantener la organización del estacionamiento. Para ello, pueden agregar nuevos espacios de estacionamientos, agregar personal que registre el flujo de vehiculos, agregar tarifas y promociones para un determinado periodo de tiempo.
                                    </p>
                                    <p>
                                        Algunos de los modulo más destacados son los que se encargan de mostrar el estado actual del estacionamiento. Mostrando los espacios ocupados, reservados, y libres en cada estacionamiento. Así, el administrador del estacionamiento estará al tanto del correcto funcionamiento del estacionamiento.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-bottom-none scroll_effect fadeInUp" data-wow-delay=".2s">
                                <div class="featured">
                                    <h5>Control del flujo de vehiculos en tiempo real</h5>
                                    <img src="@Url.Content("~/Content/publicHome/images/realtime.jpg")" alt="" data-hoverimg="@Url.Content("~/Content/publicHome/images/realtime.jpg")">
                                   <p>
                                        Para que nuestro sistema funcione, deben existir empleados que controlen el flujo de los vehiculos que entran y salen de un estacionamiento. Por ello, los empleados de los estacionamientos a traves de nuestra aplicación movil podrán registrar el flujo de los autos, y conocer los espacios disponibles, ocupados, y libres.
                                    </p>
                                    <p>
                                        Con la finalidad de asegurar el correcto funcionamiento del estacionamiento.
                                    </p>
                                  
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="featured-service clearfix padding-bottom-40 margin-top-30">                        
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-bottom-none scroll_effect fadeInUp" data-wow-delay=".4s">
                                <div class="featured">
                                    <h5>Administracion del personal</h5>
                                    <img src="@Url.Content("~/Content/publicHome/images/administracionpersonal.png")"  alt="" data-hoverimg="@Url.Content("~/Content/publicHome/images/administracionpersonal.png")">
                                    <p>
                                       Para que el estacionamiento funcione correctamente, es importante considerar el personal que controla el flujo de entrada y salida de vehiculos. Por ello, el administrador puede asignar agregar empleados al estacionamiento, y así tener un control total del estacionamiento a traves de sus empleados.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-bottom-none scroll_effect fadeInUp" data-wow-delay=".6s">
                                <div class="featured">
                                    <h5>Ver Estadisticas del Estacionamiento</h5>
                                    <img src="@Url.Content("~/Content/publicHome/images/graficoestadistica.jpg")" alt="" data-hoverimg="@Url.Content("~/Content/publicHome/images/graficoestadistica.jpg")">
                                      <p>
                                        El administrador puede conocer a los conductores que frecuentan el estacionamiento, las fechas y horarios de mayor frecuencia de clientes.
                                    </p>
                                        Puede acceder a toda esta información estadistica a tráves del sistema. De esta manera obtiene un conocimiento detalladado del funcionamiento de su estacionamiento.
                                    <p>
                                       
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="featured-service clearfix padding-bottom-40 margin-top-30">
                        <h2 class="margin-top-none"> <strong>Nuestra aplicación para los conductores</strong></h2>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-bottom-none scroll_effect fadeInUp">
                                <div class="featured">
                                    <h5>Conductores buscan estacionamientos cercanos en tiempo real</h5>
                                    <img src="@Url.Content("~/Content/publicHome/images/movil.png")"  alt="" data-hoverimg="@Url.Content("~/Content/publicHome/images/movil.png")">
                                    <p>
                                        Los conductores en su busqueda de estacionamientos cercanos, pueden ocupar nuestra aplicación movil para este fin y hacer una reserva de un espacio. 
                                    </p>
                                    <p>
                                        La aplicación les muestra los estacionamientos cercanos en un mapa. 
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-bottom-none scroll_effect fadeInUp" data-wow-delay=".2s">
                                <div class="featured">
                                    <h5>Conductores realizar reserva de un espacio en un estacionamieto</h5>
                                    <img src="@Url.Content("~/Content/publicHome/images/reserva.png")"  alt="" data-hoverimg="@Url.Content("~/Content/publicHome/images/reserva.png")">
                                    <p>
                                        La finalidad de realizar una reserva para un vehiculo es ahorrar tiempo en busqueda de estacionamiento en estacionamiento. 
                                    </p>                                   
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-bottom-none scroll_effect fadeInUp" data-wow-delay=".4s">
                                <div class="featured">
                                    <h5>Conductores reciben notificaciones del estado de su reserva</h5>
                                    <img src="@Url.Content("~/Content/publicHome/images/notificaciones.png")"  alt="" data-hoverimg="@Url.Content("~/Content/publicHome/images/notificaciones.png")">
                                     <p>
                                        Reciben notificaciones del estado de la reserva, recibiendo la confirmación de la reserva por parte del estacionamiento.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-bottom-none scroll_effect fadeInUp" data-wow-delay=".6s">
                                <div class="featured">
                                    <h5>Conductores realizar valoraciones al estacionamiento</h5>
                                    <img src="@Url.Content("~/Content/publicHome/images/valoraciones.png")" alt="" data-hoverimg="@Url.Content("~/Content/publicHome/images/valoraciones.png")">
                                     <p>
                                        Los conductores, pueden realizar valoraciones del estacionamiento, calificando, y dejando un comentario. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!--container ends-->
    </section>
    <!--content ends-->


    <!--Footer Start-->
    <!--Footer Start-->
    <footer class="design_2">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-right-none md-padding-right-none sm-padding-right-15 xs-padding-right-15">
                    <h4>Contáctanos</h4>
                    <div class="footer-contact">
                        <ul>
                            <li><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1234 Street Name, Curico, AB 12345</li>
                            <li><i class="fa fa-phone"></i> <strong>Phone:</strong>85874865</li>
                            <li><i class="fa fa-envelope-o"></i> <strong>Email:</strong><a href="#">parking@gmail.com</a></li>
                        </ul>

                        <i class="fa fa-location-arrow back_icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="clearfix"></div>
    <section class="copyright-wrap padding-bottom-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="logo-footer margin-bottom-20 md-margin-bottom-20 sm-margin-bottom-10 xs-margin-bottom-20">
                        <a href="#">
                            <h1>Parking-Matic</h1>
                            <span>Estacionamientos</span>
                        </a>
                    </div>
                    <p>Copyright &copy; 2015</p>
                </div>
            </div>
        </div>
    </section>

    <div class="back_to_top"> <img src="@Url.Content("~/Content/publicHome/images/arrow-up.png")" alt="scroll up" /> </div>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/retina.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.parallax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.inview.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.fancybox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/modernizr.custom.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.flexslider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.bxslider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.selectbox-0.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.mousewheel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/publicHome/jquery.easing.js")"></script>   

</body>
</html>