@model Taller.Estacionamiento.Models.Usuario
<div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("Registro", "Cuenta", FormMethod.Post))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Registrar Ingreso</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Nombre, new { @class = "col-sm-9", placeholder = "Nombre" })

                                @Html.TextBoxFor(model => model.Rut, new { @class = "col-sm-9", placeholder = "Rut", Value= "" })

                                @Html.TextBoxFor(model => model.Email, new { @class = "col-sm-9", placeholder = "Email" })

                                @Html.TextBoxFor(model => model.Telefono, new { @class = "col-sm-9", placeholder = "Teléfono", Value= ""})

                                @Html.TextBox("nuevaPass", null, new { @class = "col-sm-9", id = "txtNewPass1", type = "password", placeholder = "Contraseña" })
                                <span class="control-label text-center error" id="error-pass2" style="display:none">Contraseñas no son iguales</span>
                                @Html.TextBox("nuevaPass2", null, new { @class = "col-sm-9", id = "txtNewPass2", type = "password", onChange = "verifyNewPass()", placeholder = "Repetir Contraseña" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm" data-dismiss="modal">
                        <i class="ace-icon fa fa-arrow-left bigger-110"></i>
                        Cancelar
                    </button>
                    <button type="submit" id="registerButton" class="btn btn-sm btn-success">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Aceptar
                    </button>
                </div>
            </div>
        }
    </div>
</div>
