@using Taller.Estacionamiento.Utils
@model Taller.Estacionamiento.Models.Usuario
@{
    ViewBag.Title = "Editar";
}

<!-- /section:basics/content.breadcrumbs -->
<!-- /section:settings.box -->
<div class="page-header">
    <h1>
        @Model.Nombre
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Perfil
        </small>
    </h1>

</div><!-- /.page-header -->

<div class="row">
    @using (Html.BeginForm("Editar", "Cuenta", FormMethod.Post, new { id = "editarCuenta"}))
    {
        <div class="col-xs-offset-2 col-sm-offset-2 col-xs-5 col-sm-5">
            <h3 class="blue">
                <span class="middle">@Model.Nombre</span>
            </h3>

            <div class="profile-user-info">
                <div id="Nombre-form-group"  class="profile-info-row form-group">
                    <div class="profile-info-name"> Nombre </div>

                    <div class="profile-info-value">
                        <!-- <i class="fa fa-map-marker light-orange bigger-110"></i> -->
                        <span>@Html.TextBoxFor(model => model.Nombre, new { placeholder = "Nombre", onchange = "verificarNombre()" })</span>
                        <div id="Nombre-Error" class="help-block"></div>
                    </div>
                </div>
                <div id="Email-form-group" class="profile-info-row form-group">
                    <div class="profile-info-name"> Correo </div>

                    <div class="profile-info-value">
                        <!-- <i class="fa fa-map-marker light-orange bigger-110"></i> -->
                        <span>@Html.TextBoxFor(model => model.Email, new { placeholder = "Email", @required = true, onchange = "verificarEmail()" })</span>
                        <div id="Email-Error" class="help-block"></div>
                        
                    </div>
                </div>
                <div id="Actual-Pass-form-group" class="profile-info-row form-group">
                    <div class="profile-info-name"> Contraseña Actual </div>

                    <div class="profile-info-value">
                        <!-- <i class="fa fa-map-marker light-orange bigger-110"></i> -->
                        <span>@Html.TextBox("contraseñaActual", null, new { id = "contraseñaActual", type = "password", placeholder = "Contraseña", @required = true })</span>
                        <div id="Actual-Pass-Error" class="help-block"></div>
                    </div>
                </div>
                <div id="Pass1-form-group" class="profile-info-row form-group">
                    <div class="profile-info-name"> Contraseña Nueva </div>

                    <div class="profile-info-value">
                        <!-- <i class="fa fa-map-marker light-orange bigger-110"></i> -->
                        <span>@Html.TextBox("passNueva1", null, new { id = "passNueva1", type = "password", onChange = "confirmarPass()" })</span>
                    </div>
                </div>
                <div  id="Pass2-form-group" class="profile-info-row form-group">
                    <div class="profile-info-name"> Repetir Contraseña </div>

                    <div class="profile-info-value">
                        <!-- <i class="fa fa-map-marker light-orange bigger-110"></i> -->
                        <span>@Html.TextBox("passNueva2", null, new { id = "passNueva2", type = "password", onChange = "confirmarPass()" })</span>
                        <div id="Pass-Error" class="help-block"></div>
                    </div>
                </div>
                <div id="Telefono-form-group" class="profile-info-row form-group" >
                    <div class="profile-info-name"> Telefono </div>

                    <div class="profile-info-value">
                        <span>@Html.TextBoxFor(model => model.Telefono, new { placeholder = "Teléfono", onchange = "verificarTelefono()" })</span>
                        <div id="Telefono-Error" class="help-block"></div>
                    </div>
                </div>
            <div id="Rut-form-group"class="profile-info-row form-group">
                <div class="profile-info-name"> Rut </div>

                <div class="profile-info-value">
                    <span>@Html.TextBoxFor(model => model.Rut, new { placeholder = "Rut", onchange = "verificarRut()" })</span>
                    <div id="Rut-Error" class="help-block"></div>
                </div>
            </div>
            <div class="profile-info-row">

                <div class="profile-info-name"> </div>
                <div class="profile-info-value">
                </div>
            </div>
        </div>
    </div>

        
    @Html.TextBox("usuarioLogeadoEmail", @SessionManager.UsuarioAutenticado().Email, new { id = "usuarioLogeadoEmail", @value = "sdfsdf", Style = "display: none" })
        
    }
    <br />
    <div class="">
        <div class="col-md-offset-2 col-md-9">
            <button class="btn btn-info" id="editButton" onclick="submitForm()">
                <i class="ace-icon fa fa-pencil bigger-110"></i>
                Editar
            </button>
        </div>
    </div>
</div>

@section ViewsScripts {
    <script type="text/javascript" src="../Scripts/Cuenta/Cuenta.js"></script>
}
