@model Taller.Estacionamiento.Models.Estacionamiento
@{
    ViewBag.Title = "Informacion";
}

<!-- /section:basics/content.breadcrumbs -->
<!-- /section:settings.box -->
<div class="page-header">
    <h1>
        Estacionamiento
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Información
        </small>
    </h1>

</div><!-- /.page-header -->
@if (TempData["mensajeEditarInformacion"] != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <strong>
            <i class="ace-icon fa fa-times"></i>
            Error
        </strong>
        @TempData["mensajeEditarInformacion"]
        <br />
    </div>
}

<div class="row">
    <div class="col-xs-offset-2 col-sm-offset-2 col-xs-5 col-sm-5">
        <h4 class="blue">
            <span class="middle">@Model.Nombre</span>
        </h4>

        <div class="profile-user-info">
            <div class="profile-info-row">
                <div class="profile-info-name"> Telefono </div>

                <div class="profile-info-value">
                    @if(Model.tieneTelefono())
                    {
                        <span>@Model.Telefono</span>
                    }
                    else
                    {
                        <span><b>No Disponible</b></span>
                    }
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> Email </div>

                <div class="profile-info-value">
                    <span>@Model.Email</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> Tiempo Mínimo </div>

                <div class="profile-info-value">
                    <!-- <i class="fa fa-map-marker light-orange bigger-110"></i> -->
                    <span>@Model.TiempoMinimo</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> Tarifa minuto </div>

                <div class="profile-info-value">
                    <!-- <i class="fa fa-map-marker light-orange bigger-110"></i> -->
                    <span>@Model.TarifaMinuto</span>
                </div>
            </div>
            @if (Model.tieneHorario())
            {
                <div class="profile-info-row">
                    <div class="profile-info-name"> Hora Apertura </div>

                    <div class="profile-info-value">
                        <span>@Model.horaApertura() </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Hora Cierre </div>

                    <div class="profile-info-value">
                        <span>@Model.horaCierre()</span>
                    </div>
                </div>
            }
            else
            {
                <div class="profile-info-row">
                    <div class="profile-info-name"> Hora Apertura </div>

                    <div class="profile-info-value">
                        <span><b>No Disponible</b></span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Hora Cierre </div>

                    <div class="profile-info-value">
                        <span><b>No Disponible</b></span>
                    </div>
                </div>
            }

            <div class="profile-info-row">
                <div class="profile-info-name"> Dirección </div>

                <div class="profile-info-value">
                    <span>@Model.Direccion</span>
                </div>
            </div>
            <div class="profile-info-row">

                <div class="profile-info-name"> </div>
                <div class="profile-info-value">
                </div>
            </div>
        </div>
    </div>
    @if (Model.coordenadasDisponibles())
    {
        <div class="row">
            <div class="col-lg-offset-2 col-lg-7">
                <div id="map" class="map"></div>
            </div>
        </div>
    }
    <br />
    <div class="">
        <div class="col-md-offset-2 col-md-9">
            <button class="btn btn-info" style="margin-bottom:5px" type="button" data-toggle="modal" data-target="#modalInformacion">
                <i class="ace-icon fa fa-pencil bigger-110"></i>
                Editar
            </button>
        </div>
    </div>
</div>

<div>
    <!-- PartialView EstacionamientoEditar -start -->
    @{
        Html.RenderAction("EstacionamientoEditar", "Estacionamiento", new { id = Model.ID });
    }
    <!-- PartialView EstacionamientoEditar -end -->
</div>

@section ViewsScripts {
    <script type="text/javascript" src="@Url.Content("../../Scripts/ol.js")"></script>
    <script type="text/javascript" src="@Url.Content("../../Scripts/informacion/informacion.js")"></script>
    <script>
        var latitud, longitud;
        if ('@Model.CoordenadaLatitud'.indexOf(",") != -1) {
            latitud = parseFloat('@Model.CoordenadaLatitud'.replace(',', '.'));
        }
        else {
            latitud = parseFloat('@Model.CoordenadaLatitud');
        }
        if ('@Model.CoordenadaLongitud'.indexOf(",") != -1) {
            longitud = parseFloat('@Model.CoordenadaLongitud'.replace(',', '.'));
        }
        else {
            longitud = parseFloat('@Model.CoordenadaLongitud');
        }
        $(document).ready(function () {
            load_map(latitud, longitud);
        });
    </script>
}
